<!-- 🍞 Selector from the library for displaying toast notifications -->
<ng-fast-toast></ng-fast-toast>

<section class="flex h-full flex-col items-center justify-center">
	<div class="flex max-w-[500px] flex-col gap-3 space-y-4 p-10">
		<header>
			<a href="https://github.com/rperezll/ng-fast-toast" target="_blank">
				<div class="flex items-center gap-2 hover:font-bold hover:text-red-700">
					<github-icon [size]="{ height: 25, width: 25 }"></github-icon>
					<p class="text-pretty font-mono">rperezll</p>
				</div>
			</a>
			<h1 class="text-pretty text-4xl font-bold md:text-7xl"> Welcome to Ng Fast Toast </h1>
		</header>

		<p class="text-pretty font-mono">
			A lightweight and fast notification library for Angular, designed to make it super easy to display quick, stylish alerts (toasts) in your app.
			With a simple and customizable API, you can easily control the look, position, and behavior of your notifications.
		</p>

		<nav class="grid grid-cols-1 gap-4 sm:grid-cols-2">
			@for (type of notificationTypeList; track notificationTypeList) {
				<a
					class="cursor-pointer border border-dashed border-red-600 p-3 text-center hover:border-double hover:text-red-700"
					(click)="executeToast(type)"
				>
					<span class="font-mono font-semibold">
						{{ type }}
					</span>
				</a>
			}
		</nav>
	</div>
</section>
